@charset "utf-8";
/* CSS Document */

/* Links at bottom are purposely made to be purple and underlined */

a {
	color: purple;
	text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

/* Navigation bar's CSS */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3D549E;
  font-size: 4.5
}

li {
  float: left;
  border-right:1px solid #070C1C;
}

#link {
  color: white;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #B63D88;
}

/* Background image's styling & color overlay */

body {
	background-repeat: no-repeat;
 	background-size: cover;
	background-attachment: fixed;
	font-family: "Lato", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: rgb(61,84,158);
}

/* Background box properties */

#content {
	 left: 0px;
	 font-size: 4.5px;
}

/* Text */

#Full {
	 display: block;
 	 margin-left: auto;
 	 margin-right: auto;
  	 width: 65%;
}

/* Island Image */

#island {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

/* Text padding */

#Full {
	padding-left: 17.5%;
}

/* Heading colour */
h3 {
color: rgb(61, 84, 158)#3D549E;
}

h2 {
color:	rgb(61, 84, 158)#3D549E;
}	
