@charset "utf-8";
/* CSS Document */

/* Links at bottom are purposely made to be purple and underlined */

a {
	color: purple;
	text-decoration: underline;
}

/* Navigation bar's CSS */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3D549E;
}

li {
  float: left;
  border-right:1px solid #070C1C;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #B63D88;
}
	
/* Background image's styling & color overlay */

body {
	background-image: url("Images/textures/005.jpg");
	background-repeat: no-repeat;
 	background-size: cover;
	background-attachment: fixed;
	font-family: "Lato", sans-serif;
	background-color: #e5e5ff;
	font-family: "Lato", sans-serif;
}

/* Text */

.Full {
	
	 display: block;
 	 margin-left: auto;
 	 margin-right: auto;
  	 width: 80%;
}

/* Island Image */

.island {
	  display: block;
 	 margin-left: auto;
 	 margin-right: auto;
  	 width: 80%;
}
